<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTML5 Canvas Drawing Board</title>
    <script type="text/JavaScript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <script src = "/js/users.js"></script>
    <link rel = "stylesheet" href = "/css/index.css">
  </head>
  <body>

    <h1 style="text-align:center;">Collaborative Whiteborad!</h1>
    <h3 style="text-align:center;">Users Online: </h1>
    <hr>
    <br>
    <br>
    <br>

    <canvas id="myCanvas">
  		Sorry, your browser does not support HTML5 canvas technology.
  	</canvas>


  </body>

</html>
